.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 20vh;
}
.TcuCfd{
  min-height: 100vh;
  margin-top: 150px;
  background-color: white;
  border-radius: 0px;
}
.form{

}
.severer{
   display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40vh;
 }
.leftHalf{
  width: 100%;
  padding-right: 24px;
  margin-bottom: 50px;
}
.rightHalf{
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 100%;
}
.aboveSubmit{
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.TcuCfd, .wmGw4 {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.wmGw4{
  color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wmGw4 a{
  padding: 8px 10px;
}

.secondHalf{
  display: flex;
}
.input{
  position: relative;
}
.input::before{
  background: white;
  content: attr(data-label);
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 30%;
  left: 4%;
  pointer-events: none;
  transition: font-size .15s ease, top .15s ease;
}
.input input{
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  height: 54px;
  padding: 13px 15px;
}
.rightHalf:has(input:focus)
{
  .input input{
    outline-color: #0b57d0;
  }
  .input::before{
    padding: 0 8px;
    color: #0b57d0;
    font-size: .7rem;
    top: -15%;
    left: 2%;
    transition: font-size .15s ease, top .15s ease;
  }
}
.rightHalf:has(.inputIsntVoid)
{
  .input input{
    outline-width: 1rem;
  }
  .input::before{
    padding: 0 8px;
    font-size: .7rem;
    top: -15%;
    left: 2%;
    transition: font-size .15s ease, top .15s ease;
  }
}

.link{
  font-size: 0.875rem;
  font-weight: 500;
  color: #0b57d0;
  border-radius: 10px;
  padding: 3px;
}
.link:hover{
  background: rgba(11, 87, 208, 0.1);
}
.aroundLink{
  padding-top: 9px;
  padding-bottom: 3px;
}
.someCringe{
  font-size: 0.875rem;
  font-weight: 500;
  color: #0b57d0;
  border-radius: 10px;
  padding: 3px;
}
.someCringe:hover{
  background: rgba(11, 87, 208, 0.1);
}
.create{
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem;
  color: #0b57d0;
  background: white;
  border: none;
  border-radius: 2rem;
}
.create:hover{
  background: rgba(11, 87, 208, 0.05);
}
.next{
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem;
  color: white;
  background: #0b57d0;
  border: none;
  border-radius: 2rem;
}
.next:hover{
  background: #0c44a1;
}
.submit{
  display: flex;
  justify-content: end;
}
@media (min-width: 600px) and (orientation: landscape){
  .TcuCfd {
    margin: 0;
    border-radius: 0px;
    margin-top: 0px;
    min-height: unset;
  }
  .main{
    min-height: unset;
  }
  .severer{
    flex-direction: row;
  }
  .leftHalf{
    width: 50%;
  }
  .rightHalf{
    width: 50%;
  }
}


@media (min-width: 600px){
  .TcuCfd {
    margin-top: 150px;
    border-radius: 28px;
    min-height: 528px;
    padding-left: 24px;
    padding-right: 24px;
    width: 480px;
    margin-top: clamp(150px, 15vh, 500px);
    border-radius: 24px;
  }
  .main{
    background-color: #f0f4f9;
    min-height: 100vh;
  }
}
@media (min-width: 600px) and (orientation: landscape){
  .TcuCfd, .wmGw4 {
    margin-top: 150px;
    border-radius: 0px;
    margin-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    min-height: 100vh;
  }
  .main{
    min-height: unset;
  }
  .wmGw4{
    min-height: unset;
  }
  .severer{
    flex-direction: row;
  }
  .leftHalf{
    width: 50%;
  }
  .rightHalf{
    width: 50%;
  }

}

@media (min-width: 840px){
  .TcuCfd {
    padding: 24px;
    width: 480px;
    margin-top: clamp(150px, 20vh, 500px);
    border-radius: 24px;
    min-height: unset;
  }
  .main{
    background-color: #f0f4f9;
    min-height: 100vh;
  }
}
@media (min-width: 840px) and (orientation: landscape){
  .TcuCfd, .wmGw4 {
    border-radius: 0px;
    margin-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    min-height: 100vh;
  }
  .main{
    background-color: white;
    min-height: unset;
  }
  .wmGw4{
    min-height: unset;
  };
  .wmGw4{
    min-height: unset;
  }
  .severer{
    flex-direction: row;
  }
  .leftHalf{
    width: 50%;
  }
  .rightHalf{
    width: 50%;
  }

}


@media (min-width: 960px){
  .TcuCfd {
    padding-left: 36px;
    padding-right: 36px;
    width: 550px;
    border-radius: 24px;
    margin-top: clamp(150px, 25vh, 500px);
    min-height: unset;
  }
  .main{
    background-color: #f0f4f9;
    min-height: 100vh;
  }
}
@media (min-width: 960px) and (orientation: landscape){
  .TcuCfd {
    margin: 0;
    margin-top: clamp(150px, 25vh, 500px);
    min-height: 384px;
    padding-left: 36px;
    padding-right: 36px;
    width: clamp(800px, 80vw, 1200px);
    border-radius: 28px;
  }
  .main{
    background-color: #f0f4f9;
    min-height: 100vh;
  }
  .severer{
    flex-direction: row;
  }
  .leftHalf{
    width: 50%;
  }
  .rightHalf{
    width: 50%;
  }

}