.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 150px;
  min-height: 100vh;
  background-color: #f0f4f9;
}
.TcuCfd{
  background-color: white;
  border-radius: 24px;
}
.form{

}
.severer{
   display: flex;
  width: 50%;
 }
.leftHalf{
  padding-right: 24px;
}
.TcuCfd, .wmGw4 {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

@media (min-width: 600px) and (orientation: landscape){
  .TcuCfd {
    border-radius: 28px;
    min-height: unset;
  }
}

@media (min-width: 600px) and (orientation: landscape){
  .TcuCfd, .wmGw4 {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

@media (min-width: 600px){
  .TcuCfd {
    border-radius: 28px;
    min-height: 528px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}
@media (min-width: 840px) and (orientation: landscape){
  .TcuCfd, .wmGw4 {
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }
}

@media (min-width: 840px){
  .TcuCfd {
    padding: 24px;
    padding-top: 96px;
    width: 480px;
  }
}
@media (min-width: 960px) and (orientation: landscape){
  .TcuCfd {
    border-radius: 28px;
    min-height: 384px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 108px;
    width: 840px;
  }
}

@media (min-width: 960px){
  .TcuCfd {
    padding-top: 150px;
    padding-left: 36px;
    padding-right: 36px;
    width: 840px;
  }
}
